.login-item{
    *{
        margin: 5px;
    }

    input{
        padding: 5px;
    }

    margin: 0 auto;
    padding: 2em;
    @include flexy($dir:column);
    max-width: 500px;

    button{
        border: none;
        color: white;
        background-color: $main-dark;
        padding: 10px;
        transition: background-color .3s ease;
        cursor: pointer;
        &:hover{
            background-color: $main-red;
        }
        &:active{
          transform: scale(0.99);
        }
    }
}