<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shop</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="style/css/style.css">
</head>
<body>
    <!-- <div id="root"></div> -->
    <nav>
        <h1>Online Shop &trade;</h1>
    </nav>
    <aside>
        <i class="fa-solid fa-bag-shopping"></i>
        <span class="logo">kz_</span>
        <ul class="main-categories">
            <li>ALL</li>
            <li>Men's</li>
            <li>Woman's</li>
            <li>Kids</li>
        </ul>
        <ul class="second-categories">
            <li>Our Journal</li>
            <li>About Us</li>
            <li>Help/FAQ</li>
            <li>Get In Touch</li>
            <li></li>
            <li>Login</li>
        </ul>
    </aside>
    <main>
        <div class="shopping-cart">
            <span class="cart-item-no">1 product in your cart</span>
            <div class="products">
                <div class="mini-card">
                    <img src="https://cdn.shopify.com/s/files/1/0584/0617/4905/products/p18_1_1280x.jpg?v=1625561243" alt="t-shirt">
                    <div class="info-mini">
                        <div class="left-item-mini">
                            <span>T-Shirt</span>
                            <span>36€</span>
                        </div>
                        <div class="right-item-mini">
                            <input min="1" value="1" type="number">
                            <span>X</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="total-info">
                <span>Total: 36.00€</span>
                <span>Shipping & taxes are calculated at checkout</span>
                <button>Check Out</button>
            </div>
        </div>
        <div class="cover-img">
            <img src="./Assets/Summer-Fashion-Facebook-Cover-Design-Template.jpeg" alt="fashion-cover">
        </div>
        <div class="content">
            <div class="card">
                <div class="image">
                    <img src="https://cdn.shopify.com/s/files/1/0584/0617/4905/products/p18_1_1280x.jpg?v=1625561243" alt="t-shirt picture">
                </div>
                <div class="info">
                    <div class="left-item">
                        <span>Name</span>
                        <span>36€</span>
                    </div>
                    <div class="right-item">
                        <button>Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="https://cdn.shopify.com/s/files/1/0584/0617/4905/products/p4_1_420x.jpg?v=1625561220" alt="t-shirt picture">
                </div>
                <div class="info">
                    <div class="left-item">
                        <span>Name</span>
                        <span>36€</span>
                    </div>
                    <div class="right-item">
                        <button>Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="https://cdn.shopify.com/s/files/1/0584/0617/4905/products/p5_1_840x.jpg?v=1625561212" alt="t-shirt picture">
                </div>
                <div class="info">
                    <div class="left-item">
                        <span>Name</span>
                        <span>36€</span>
                    </div>
                    <div class="right-item">
                        <button>Add to cart</button>
                    </div>
                </div>
            </div>
            
        </div>
    </main>

    <script type="module" src="app.js"></script>
</body>
</html>